.page.theme_light {
  --font-family: 'IBM Plex Mono', sans-serif;
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --text-color: #353430;
  --section-title-color: var(--text-color);
  --section-bg-color: var(--shadow-color);
  --accent-color: var(--text-color);
  --discription-color: var(--text-color);
  --display-rec: none;
  --decorated-gap: 10px;
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --nav-focus-color: var(--text-color);
  --a-focus-color: var(--text-color);
  --a-shadow-color: var(--section-bg-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --font-family: 'IBM Plex Mono', sans-serif;
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --title-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --text-color: #353430;
    --section-title-color: var(--text-color);
    --section-bg-color: var(--shadow-color);
    --accent-color: var(--text-color);
    --discription-color: var(--text-color);
    --display-rec: none;
    --decorated-gap: 10px;
    --nav-hover-color: rgba(50, 49, 45, 0.4);
    --nav-focus-color: var(--text-color);
    --a-focus-color: var(--text-color);
    --a-shadow-color: var(--section-bg-color);
  }
}